<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
<appSettings>
		<add key="datePasager" value="Pasageri.txt"/>
		<add key="dateTren" value="Tren.txt"/>
		<add key="dateCalatorii" value="Calatorii.txt"/>
		<add key="dateBilete" value="Bilete.txt"/>
	</appSettings>
</configuration>